<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-mqtt-service"
        version="0.1.0">
    <name>MQTTService</name>
    <description>Cordova MQTT Service Plugin</description>
	<author>Will Lee</author>
    <license>MIT</license>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MQTTService" >
                <param name="android-package" value="com.yang.eto1.CordovaPlugin.MQTTService"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
			<!-- Permissions the Application Requires -->
			<uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
		    <service android:name="org.eclipse.paho.android.service.MqttService" />
        </config-file>

        <source-file src="src/android/MQTTService.java" target-dir="src/com/yang/eto1/CordovaPlugin" />
        <source-file src="src/android/ActionListener.java" target-dir="src/com/yang/eto1/CordovaPlugin" />
        <source-file src="src/android/MqttCallbackHandler.java" target-dir="src/com/yang/eto1/CordovaPlugin" />
		<source-file src="src/android/MqttTraceCallback.java" target-dir="src/com/yang/eto1/CordovaPlugin" />
		<source-file src="libs/android/org.eclipse.paho.android.service-1.0.2.jar" target-dir="libs" />
		<source-file src="libs/android/org.eclipse.paho.client.mqttv3-1.0.2.jar" target-dir="libs" />
		<source-file src="libs/android/android-support-v4.jar" target-dir="libs" />

        <js-module src="www/mqtt-service.js" name="MQTTService" />
    </platform>
</plugin>
